<div class="container">
    <div id="affirmation" class="card outer-card">
    <div class="card middle-card">
      <div class="card inner-card">
        <div id="affirmation">
          <p><%= @affirmation.content %></p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <img src="<%= asset_path('acorn.png') %>" alt="acorn" class="asset">
  </div>
</div>